@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button.btn-region {
    @apply appearance-none
           py-2.5
           px-5
           font-medium
           text-sm
           focus:outline-none
           rounded-lg
           border-2
           border-transparent
           brightness-75
           bg-gray-800
           text-gray-400
           hover:brightness-100;
  }

  .btn-region.selected {
    @apply text-white
           z-10
           border-slate-200
           brightness-125
           hover:brightness-[135%];
  }

  .btn-region.playing {
    @apply border-2 border-emerald-300;
  }

  .btn-region.paused {
    @apply border-2 border-yellow-600;
  }

  .btn-region.stopped {
    @apply border-2 border-orange-600;
  }
}
