@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::range-lower {
    background: #3f83f8;
    border-radius: 30px 0 0 30px;
    height: 0.25em;
}

input[type="range"].range-lg::range-thumb {
    height: 1.5rem;
    width: 1.5rem;
}

input[type="range"]::range-thumb {
    background: #1c64f2;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
}