@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-4
            py-2
            text-sm
            font-medium 
            text-gray-900 
            bg-white
            border-gray-200
            hover:bg-gray-100
            hover:text-blue-700
            focus:z-10
            focus:ring-2
            focus:ring-blue-700
            focus:text-blue-700
            dark:bg-gray-700
            dark:border-gray-600
            dark:text-white
            dark:hover:text-white
            dark:hover:bg-gray-600
            dark:focus:ring-blue-500
            dark:focus:text-white;
  }
  .btn-primary.selected {
    @apply bg-gray-200
            text-blue-800
            dark:text-white
            dark:bg-gray-500;
  }

  .btn-primary-red.selected {
    @apply bg-red-200
            text-blue-800
            dark:text-white
            focus:ring-red-700
            border-red-200
            dark:bg-red-500;
  }

  .btn-outlined {
    @apply py-2.5
            px-5
            font-medium
            text-sm
            text-gray-900
            focus:outline-none
            bg-white
            rounded-lg
            border
            border-gray-200
            hover:bg-gray-100
            hover:text-blue-700
            dark:bg-gray-800
            dark:text-gray-400
            dark:border-gray-600
            dark:hover:text-white
            dark:hover:bg-gray-700;
  }

  .btn-outlined.selected {
    @apply bg-gray-100
            text-blue-700
            dark:text-white
            dark:bg-gray-700
            z-10
            border-0
            ring-2
            ring-slate-400;
  }

  .btn-outlined.playing {
    @apply ring-4 ring-emerald-600;
  }

  .btn-outlined.paused {
    @apply ring-4 ring-yellow-700;
  }

  .btn-outlined.stopped {
    @apply ring-4 ring-orange-700;
  }

  .btn-checkbox,
  .btn-checkbox.selected {
    @apply dark:hover:text-gray-200
            dark:hover:bg-gray-600;
  }

  .btn-outlined-red {
    @apply py-2.5
            px-5
            font-medium
            text-sm
            focus:outline-none
            text-white
            bg-red-700
            hover:bg-red-800
            focus:ring-4
            focus:ring-red-300
            rounded-lg
            border
            border-gray-300
            dark:border-gray-600
            dark:hover:border-gray-600
            dark:bg-red-600
            dark:hover:bg-red-700
            dark:focus:ring-red-900;
  }

  .btn-round {
    @apply py-1
            px-1
            font-medium
            text-sm
            text-gray-900
            bg-white
            rounded-lg
            dark:bg-gray-800
            dark:text-gray-400;
  }

  .btn-round:disabled {
    @apply dark:bg-gray-900
           dark:text-gray-700;
  }

  .btn-round:not(:disabled) {
    @apply hover:bg-gray-100
           hover:text-blue-700
           dark:hover:text-white
           dark:hover:bg-gray-700
           focus:z-10
           focus:ring-4
           focus:ring-gray-200
           dark:focus:ring-gray-700
           focus:outline-none;
  }

  .btn-round.selected {
    @apply bg-gray-100
            text-blue-700
            dark:text-white
            dark:bg-gray-700;
  }
}
