name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "npm"
      - run: npm ci
      - run: npm run check
      - run: npm run tsc
      - run: npm run build
      - run: mv dist/index.html remote-bandui.html
      - name: Upload Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: |
            remote-bandui.html
            Mother Project.RPP
            LICENSE
