name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: Version update
        options:
          - patch
          - minor
          - major
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - id: release
        uses: rymndhng/release-on-push-action@v0.28.0
        with:
          bump_version_scheme: ${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "npm"
      - run: npm ci
      - run: npm run check
      - run: npm run tsc
      - run: npm run build
      - run: mv dist/index.html dist/remote-bandui.html
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.release.outputs.tag_name }}
          files: |
            dist/remote-bandui.html
            Mother Project.RPP
            LICENSE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
