@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
  .bottom-navigation {
    @apply shrink-0 
      w-full 
      h-16
      flex
    bg-white
      border-t 
    border-gray-200
    dark:bg-gray-700
    dark:border-gray-600;
  }

  .bottom-navigation button:not(.selected) {
    @apply text-gray-500
      dark:text-gray-400
      hover:text-blue-600
      dark:hover:text-blue-500;
  }

  .bottom-navigation button {
    @apply flex flex-col justify-center items-center;
  }

  .bottom-navigation button.selected {
    @apply text-blue-500
    bg-gray-50
    dark:bg-gray-800;
  }
}
