input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-thumb {
  width: 0;
}

input[type="range"]::-moz-range-thumb {
  border: 0;
  width: 0;
}

.range .range-progress-body {
  transition: all ease 100ms;
}

@media (hover) {
  .range:hover .range-progress-body {
    filter: brightness(140%);
  }
}
